# ⚠️ WARNUNG: Dieses Projekt verwendet YARN!
# Bitte verwenden Sie:
#   yarn install     (NICHT: npm install)
#   yarn add [pkg]   (NICHT: npm install [pkg])
#   yarn start       (NICHT: npm start)
#
# Installation von Yarn:
#   npm install -g yarn

engine-strict=true
